body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    align-items: center;
    background-image: url(../img/fon.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #ffffff;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 3.5vw;
}

#root {
    width: 100%;
    height: 100%;
}

.gameField {
    display: flex;
    justify-content: center
}

.indexation {
    height: 3.7vw;
    width: 3.7vw;
    margin-bottom: 1px;
    margin-left: 1px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.7vw;
}

.leftNum {
    display: flex;
    justify-content: center;
    margin: 0;
}

.horizontal {
    display: flex;
    justify-content: center
}

.black {
    background-color: #545353;
    height: 3.7vw;
    width: 3.7vw;
}

.white {
    background-color: #ffffff;
    height: 3.7vw;
    width: 3.7vw;
}

.blackChecker {
    background: url(../img/BlackChecker.png) center center /cover, #545353;
}

.blackQueen {
    background: url(../img/BlackChecker+.png) center center /cover, #545353;
}

.whiteChecker {
    background: url(../img/WhiteChecker.png) center center /cover, #545353;
}

.whiteQueen {
    background: url(../img/WhiteChecker+.png) center center /cover, #545353;
}

.yes {
    outline: 5px solid rgb(255, 0, 0);
    outline-offset: -5px;
}

.UI {
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 1vw;
}

.UIButton {
    margin-left: 0.5vw;
    width: calc(100vw - 95vw)*100%;
    height: calc(100vw - 92vw)*100%;
    border-radius: 12px;
    font-size: 1.5vw;
}

.historyBlock {
    margin-left: 1vw;
    background-color: #ffffff;
    width: 15vw;
    height: 30.3vw;
    outline: 0.3vw solid #000000;
}

.historyBlock>h1 {
    font-size: 3vw;
    color: #000000f5;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 11.5%;
    outline: 2px solid #000000;
}

.turns {
    height: 88.5%;
    width: 100%;
    overflow: scroll;
}

.oneTurn {
    color: #000000;
    height: 10%;
    width: 100%;
}